.card {
    width: 100%;
  }
  
  .card .top-section {
    /* border-top-right-radius: 15px; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left top, rgb(187, 247, 208), rgb(34, 197, 94));
    position: relative;
    /* margin-top: 20px; */

  }
  
  .card .top-section .border {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    width: 45%;
    background: white;
    position: absolute;
    transform: skew(40deg);
    margin-left: -25px;
    margin-top: -2px;
    border: none;
    margin-left: 20%;
  }
  .card .top-section .borderTwo {
    border-bottom-right-radius: 10px;
    height: 60px;
    width: 30%;
    background: white;
    position: absolute;
    transform: skew(-40deg);
    margin-left: -25px;
    margin-top: -2px;
    border: none;
    margin-left: 50%;
  }
  
  .card .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .card .top-section .icons .logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 7px 0 7px 15px;
  }
  
  .card .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  .card .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
  }

